html,
body {
  padding: 0;
  margin: 0;
  /* background-color: #16456b; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1{
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}
